<section class="band band--bright h-medium w-wide ha-left va-middle">
<div class="band__content"><div class="row"><div class="col" style="--span: 6; --of: 12"><div class="b b--html"><h2><strong>Dealmakers</strong></h2></div></div><div class="col" style="--span: 1; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div><div class="col" style="--span: 5; --of: 12"><div class="row"><div class="col" style="--span: 4; --of: 5"><div class="b b--html"><p>Since its founding in 2016, PEAK has achieved successful outcomes for hundreds of technology companies.</p></div></div><div class="col" style="--span: 1; --of: 5"><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div></div></div></div></div>
</section>

<section class="band band--white h-custom w-wide ha-left va-middle" style="--pt: calc(15vmax / 10); --pb: calc(15vmax / 10); min-height: 15vh;">
<div class="band__content"><div class="row"><div class="col" style="--span: 12; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="b b--html"><h2 style="text-align:center"><strong>Transactions</strong></h2></div><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div></div></div>
</section>

{% set collectionTheme = "white" %}{% include "partials/collection-list.njk" %}

<section class="band band--white h-custom w-wide ha-center va-middle" style="--pt: calc(16vmax / 10); --pb: calc(16vmax / 10); min-height: 16vh;">
<div class="band__content"></div>
</section>
