<section class="band band--bright h-medium w-wide ha-left va-middle">
<div class="band__content"><div class="row"><div class="col span-6"><h2><strong>Dealmakers</strong></h2></div><div class="col span-1"><div class="spacer vsize-1"></div></div><div class="col span-5"><div class="row"><div class="col span-4"><p>Since its founding in 2016, PEAK has achieved successful outcomes for hundreds of technology companies.</p></div><div class="col span-1"><div class="spacer vsize-1"></div></div></div></div></div></div>
</section>

<section class="band band--white h-custom w-wide ha-left va-middle" style="padding-top: calc(15vmax / 10); padding-bottom: calc(15vmax / 10);">
<div class="band__content"><div class="row"><div class="col span-12"><div class="spacer vsize-1"></div><h2><strong>Transactions</strong></h2><div class="spacer vsize-1"></div></div></div></div>
</section>

{% include "partials/collection-list.njk" %}

<section class="band band--white h-custom w-wide ha-center va-middle" style="padding-top: calc(16vmax / 10); padding-bottom: calc(16vmax / 10);">
<div class="band__content"></div>
</section>
