<section class="band band--black h-medium w-medium ha-center va-middle">
<div class="band__content"><div class="row"><div class="col" style="--span: 12; --of: 12"><div class="b b--html"><h2><strong>Our Process</strong></h2></div><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div></div><div class="row"><div class="col" style="--span: 6; --of: 12"><div class="row"><div class="col" style="--span: 4; --of: 6"><div class="b b--code" id="b-yui_3_17_2_1_1608151503001_13886"><div class="code"><span style="p2"> <p2 style="color:#f95624"> 01. <h3>Build Your Story</h3>
  
  



</p2></span></div></div></div><div class="col" style="--span: 2; --of: 6"><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div></div></div><div class="col" style="--span: 6; --of: 12"><div class="b b--spacer" id="b-yui_3_17_2_1_1611962317714_11275"><div class="spacer vsize-1"></div></div><div class="b b--html"><p>We’ll work together to craft your differentiated pitch, including a company deep dive, executive summary, and management deck. While we’ll customize pitches as we go, creating your marketing materials helps us position you and increase your market value from the start. </p></div></div></div><div class="row"><div class="col" style="--span: 12; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="row"><div class="col" style="--span: 4; --of: 12"><div class="b b--code" id="b-yui_3_17_2_1_1608151503001_16220"><div class="code"><span style="p2"> <p2 style="color:#f95624"> 02. 
  <h3>Engage Buyers</h3>
  
  



</p2></span></div></div></div><div class="col" style="--span: 8; --of: 12"><div class="row"><div class="col" style="--span: 2; --of: 8"><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div><div class="col" style="--span: 6; --of: 8"><div class="b b--spacer" id="b-yui_3_17_2_1_1611962286647_12181"><div class="spacer vsize-1"></div></div><div class="b b--html"><p>With a strong story in hand, we’ll position you in the market and generate buzz with investors and buyers. Our custom pitches will emphasize the elements of your business that appeal to each buyer. Our goal: to create competitive tension and a sense of scarcity.</p></div></div></div></div></div><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="row"><div class="col" style="--span: 4; --of: 12"><div class="b b--code" id="b-yui_3_17_2_1_1608151503001_26954"><div class="code"><span style="p2"> <p2 style="color:#f95624"> 03. 
  <h3>Choose A Path</h3>
  
  



</p2></span></div></div></div><div class="col" style="--span: 8; --of: 12"><div class="row"><div class="col" style="--span: 2; --of: 8"><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div><div class="col" style="--span: 6; --of: 8"><div class="b b--spacer" id="b-yui_3_17_2_1_1611962181339_12249"><div class="spacer vsize-1"></div></div><div class="b b--html"><p>Once we’ve created options, we’ll begin filtering, qualifying, and connecting with more companies and investors as we go. We’ll work together to choose the path that best suits your goals. </p></div></div></div></div></div><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="row"><div class="col" style="--span: 4; --of: 12"><div class="b b--code" id="b-yui_3_17_2_1_1608151503001_19470"><div class="code"><span style="p2"><p2 style="color:#f95624"> 04. 
  <h3>Close Your Deal</h3>
  
  



</p2></span></div></div></div><div class="col" style="--span: 8; --of: 12"><div class="row"><div class="col" style="--span: 2; --of: 8"><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div><div class="col" style="--span: 6; --of: 8"><div class="b b--spacer" id="b-yui_3_17_2_1_1611961469539_11346"><div class="spacer vsize-1"></div></div><div class="b b--html"><p>With multiple stakeholders to manage, final negotiations underway, and piles of paperwork, tensions can build. We’re here to handle the process and run with you all the way across the finish line. </p></div></div></div></div></div></div></div></div>
</section>

<section class="band band--bright w-wide ha-center va-middle" style="--pt: calc(25vmax / 10); --pb: calc(25vmax / 10); min-height: 25vh;">
<div class="band__content"><div class="row"><div class="col" style="--span: 12; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="b b--html"><h2> <strong>Perspectives</strong></h2></div><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div></div></div>
</section>

{% set collectionTheme = "white" %}{% include "partials/collection-list.njk" %}
