<section class="band band-- w-wide ha-left va-middle" style="--pt: calc(20vmax / 10); --pb: calc(20vmax / 10); min-height: 20vh;">
<div class="band__content"><div class="row"><div class="col" style="--span: 12; --of: 12"><div class="row"><div class="col" style="--span: 9; --of: 12"><div class="b b--html"><h1>Team Bios &amp; Photos</h1></div></div><div class="col" style="--span: 3; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div></div></div></div></div>
</section>

{% include "partials/collection-list.njk" %}
