---
pagination:
  data: collections.categoryPages
  size: 1
  alias: entry
  addAllPagesToCollections: true
permalink: "/{{ entry.collection }}/category/{{ entry.category | categoryPath | safe }}/"
layout: layouts/list.njk
eleventyComputed:
  title: "{{ entry.category | safe }}"
  listCollection: "{{ entry.collection }}"
  listCategory: "{{ entry.category | safe }}"
  seoTitle: "{{ entry.category | safe }} — {{ collectionTitles[entry.collection] }} — Peak Technology Partners"
  headerTheme: "{{ listThemes[entry.collection] }}"
---
