---
layout: layouts/page.njk
permalink: /contact-thanks/
title: Thank you
seoTitle: Contact — Peak Technology Partners
headerTheme: white
eleventyExcludeFromCollections: true
---
<section class="band band--white h-medium w-medium ha-left va-middle">
<div class="band__content"><div class="b b--html"><h1>Thank you!</h1></div></div>
</section>
