<section class="band band--bright ha-left va-middle" style="--pt: calc(22vmax / 10); --pb: calc(22vmax / 10); min-height: 22vh;">
<div class="band__content"><div class="row"><div class="col" style="--span: 12; --of: 12"><div class="row"><div class="col" style="--span: 4; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="b b--image"><figure class="image"><a href="/home"><img src="/images/site/footer-sections-b9c7fd3a.png" alt="Peak Technology Partners home" loading="lazy"></a></figure></div></div><div class="col" style="--span: 1; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div></div><div class="col" style="--span: 3; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="b b--code"><div class="code"><span style="p3"> <p3 style="font-size: 10.5px"> 
  
  <p3 style="font-size: 10.5 px;">LOCATIONS <br> <span style="font-size: 15px; font-weight: 500">SAN FRANCISCO (HQ) <br> DENVER</span></p3>
  
  



</p3></span></div></div></div><div class="col" style="--span: 4; --of: 12"><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="b b--code"><div class="code"><span style="font-size: 15px; font-weight: 500"><a href="tel:+14153471632" style="color: inherit; text-decoration: none;">+1 (415) 347-1632</a></span></div></div><div class="b b--code"><div class="code"><span style="font-size: 15px; font-weight: 500"><a href="mailto:contact@peak-tech.com" style="color: inherit; text-decoration: 
none;">contact@peak-tech.com</a> <br> <br> </span></div></div><div class="b b--socialaccountlinks">{% include "partials/social.njk" %}</div></div></div><div class="b b--spacer"><div class="spacer vsize-1"></div></div><div class="b b--html" id="b-yui_3_17_2_1_1607366489882_10497"><pre><code>Securities are offered through <a href="https://www.finalis.com/" target="_blank">Finalis Securities LLC</a> Member <a href="https://www.finra.org/#/" target="_blank">FINRA / SIPC.</a>  Peak Technology Partners, LLC (PEAK) is not a registered broker-dealer, and Finalis Securities LLC and PEAK are separate, unaffiliated entities. Finalis Securities LLC, Office of Supervisory Jurisdiction is located at 450 Lexington Ave, New York, NY 10017, 800-962-0418.

<a href="https://www.finalis.com/platform-disclaimers#privacy" target="_blank">Finalis Privacy Policy</a> | <a href="https://www.finalis.com/regulatory-disclaimers#business" target="_blank">Finalis Business Continuity Plan</a> | <a href="https://brokercheck.finra.org/" target="_blank">FINRA BrokerCheck</a> | <a href="https://www.finalis.com/regulatory-disclaimers?form-CRS" target="_blank">Finalis Form Customer Relationship Summary (“Form CRS”)</a>

<a href="https://www.peak-tech.com/" target="_blank">https://www.peak-tech.com/</a>, the "PEAK Website," is a website operated by PEAK. This website is for informational purposes only, is not an offer, solicitation, recommendation, or commitment for any transaction or to buy or sell any security or other financial product, and is not intended as investment advice or as a confirmation of any transaction. Products and services on this website may not be available for residents of certain jurisdictions. Please consult with a Finalis Securities’ registered representative regarding the product or service in question for further information. Investments involve risk and are not guaranteed to appreciate. Any market price, indicative value, estimate, view, opinion, data, or other information herein is not warranted as to completeness or accuracy, is subject to change without notice, and PEAK along with Finalis Securities LLC accepts no liability for its use or to update it or keep it current.

Investing in private placements involves a high degree of risk. These investments may be illiquid, speculative, and subject to substantial restrictions on transferability. Investors may lose all or part of their investment and should only invest capital they can afford to lose. Prospective investors should conduct their own due diligence and consult with their legal, tax, and financial advisors prior to making any investment decision. For your reference, Finalis’ <a href="https://www.finalis.com/regulatory-disclaimers?form-CRS" target="_blank">Form CRS</a> describes the services that we provide, how we are compensated, and other important information about Finalis Securities LLC.</code></pre></div></div></div></div>
</section>
